<p id="notice"><%= notice %></p>

<h1>Time Slots</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Upstairs Main</th>
      <th>Upstairs Secondary</th>
      <th>Downstairs One</th>
      <th>Downstairs Two</th>
      <th>Downstairs Booth</th>
      <th>Downstairs Bar</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
        
    <% @time_slots.each do |time_slot_hash| %>
      <tr>
        <td><%= time_slot_hash.time %></td>
        
        <% 6.times do |i| %>
          <% if time_slot_hash.dancers[i] != nil %>
            <td><%= time_slot_hash.dancers[i].fake_name %></td>
          <% end %>
        <% end %>

        <td><%= link_to 'Show', time_slot_hash %></td>
        <td><%= link_to 'Edit', edit_time_slot_path(time_slot_hash) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Slot', new_time_slot_path %>


